/* 폰트적용 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

/* 반응형 관련 */
@media ( max-width:780px ) {
  .visible-md-up {
    display:none;
  }
}

@media ( min-width:781px ) {
  .visible-sm-down {
    display:none;
  }
}

/* 라이브러리 */
.con {
  margin-left: auto;
  margin-right: auto;
}

.line-height-0 {
  line-height: 0;
}

.line-height-0 > * {
  line-height: normal;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.text-align-center {
  text-align: center;
}

.img-box > img {
  display: block;
  width: 100%;
}

.cell {
  float: left;
  box-sizing: border-box;
}

.cell-right {
  float: right;
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.clear-both {
  clear:both;
}

/* 커스텀 */
.con {
  max-width:980px;
}

html, body {
  overflow-x:hidden;
}

/* 로고바 시작 */
.logo-bar {
  margin-top:20px;
}

/* 메뉴바 시작 */
.menu-bar {
  margin-top:20px;
}

.menu-bar > .menu-box-1 > ul > li {
  width:calc(100% / 7);
  position: relative;
}

.menu-bar > .menu-box-1 > ul > li > a {
  position:relative;
  font-size:0.8rem;
  font-weight:bold;
  text-align:center;
  padding:5px 0;
}

.menu-bar > .menu-box-1 > ul > li > a::before, .menu-bar > .menu-box-1 > ul > li > a::after {
  content:"";
  background-color:black;
  position:absolute;
  width:1px;
  height:10px;
  top:50%;
  transform:translateY(-50%);
  left:0;
}

.menu-bar > .menu-box-1 > ul > li > a::after {
  left:auto;
  right:0;
}

.menu-bar > .menu-box-1 > ul > li:first-child > a::before,
.menu-bar > .menu-box-1 > ul > li:last-child > a::after {
  width:2px;
}

.menu-bar > .menu-box-1 > ul > li > div {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  padding-top: 10px;
  z-index: 10;
}

.menu-bar > .menu-box-1 > ul > li > div::before {
  content:"";
  display:block;
  height:10px;
  position:absolute;
  width:100%;
  bottom:100%;
}

.menu-bar > .menu-box-1 > ul > li > div > ul{
  background-color:rgba(255,255,255,0.8);
  border-top: 1px solid rgb(173, 173, 173);
  border-bottom: 1px solid rgb(173, 173, 173);
}

.menu-bar > .menu-box-1 > ul > li:hover > div {
  display: block;
}

.menu-bar > .menu-box-1 > ul > li > div > ul > li > a {
  color: #858585;
  font-size: 0.7rem;
  text-align: center;
  padding: 3px 0;
}

.menu-bar > .menu-box-1 > ul > li > div > ul > li > a:hover {
  color: black;
}

/* 배너바 시작 */
.banner-bar {
  margin-top: 10px;
  overflow-x: hidden;
}

@media ( max-width:780px ) {
  .banner-bar {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .banner-bar > .img-box {
    margin-left: -30%;
  }
}

@media (max-width: 550px) {
  .banner-bar > .img-box {
    margin-left: -55%;
  }
}

@media (max-width: 400px) {
  .banner-bar > .img-box {
    margin-left: -80%;
  }
}

/* 배너바2 시작 */
.banner-bar-2 > ul {
  margin: 0 -10px;
}

.banner-bar-2 > ul > li {
  margin-top: 20px;
  padding: 0 10px;
}

.banner-bar-2 > ul > li:nth-child(3n + 1) {
  width: 50%;
}

.banner-bar-2 > ul > li {
  width: 25%;
}

@media (min-width: 751px) {
  .banner-bar-2 > ul {
    position: relative;
  }

  .banner-bar-2 > ul > li:nth-last-child(1),
  .banner-bar-2 > ul > li:nth-last-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .banner-bar-2 > ul > li:nth-last-child(1) {
    left: 25%;
  }
}

@media (max-width: 750px) {
  .banner-bar-2 > ul > li:nth-child(3n + 1) {
    width: 66.6666%;
  }

  .banner-bar-2 > ul > li {
    width: 33.3333%;
  }
}

@media (max-width: 400px) {
  .banner-bar-2 > ul > li:nth-child(3n + 1) {
    width: 100%;
  }

  .banner-bar-2 > ul > li {
    width: 50%;
  }
}

/* 모바일 탑바 시작 */
.mobile-top-bar {
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:100;
}

.mobile-top-bar > .cell:nth-child(2) {
  width:60px;
}

.mobile-top-bar > .cell:not(:nth-child(2)) {
  width:calc((100% - 60px) / 2);
}

.mobile-top-bar .btn-type-1 {
  width:50px;
  height:50px;
  position:relative;
}

.mobile-top-bar .btn-type-1 > i {
  font-size:1.5rem;
  position:absolute;
  top:50%;
  left:50%;
  transform:translateX(-50%) translateY(-50%);
}

.mobile-top-bar .logo {
  margin-top:16px;
}

/* 모바일 사이드 바 시작 */
.mobile-side-bar {
  top:0;
  left:-100%;
  box-sizing:border-box;
  position:fixed;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);
  transition:left 0.1s, background-color 0.3s;
  overflow-y:auto;
  z-index: 101;
}

@media ( max-width:780px ) {
  html.mobile-side-bar-active, html.mobile-side-bar-active > body {
    overflow:hidden;
  }
}

html.mobile-side-bar-active .mobile-side-bar {
  left:0;
  background-color:rgba(0,0,0,.6);
}

.mobile-side-bar .content {
  width:300px;
  background-color:white;
  padding-top:10px;
  min-height:100%;
  box-sizing:border-box;
}

.mobile-side-bar .content > .logo-box-1 {
  padding:10px 10px;
  border-bottom:1px solid #ccc;
}

.mobile-side-bar .content > .logo-box-1 > .logo {
  width:60px;
  margin-top:3px;
}

.mobile-side-bar .content > .logo-box-1 > .btn-close {
  font-size:1.3rem;
  line-height:1.3rem;
}

.mobile-side-bar .content .menu-box-1 ul > li > a {
  padding:10px 0 10px 10px;
  font-size:0.85rem;
}

.mobile-side-bar .content .menu-box-1 ul > li {
  border-bottom:1px solid #ccc;
}

.mobile-side-bar .content .menu-box-1 ul ul > li {
  border-bottom:0;
  border-top:1px solid #ccc;
}

.mobile-side-bar .content .menu-box-1 ul > li > a:not(:only-child)::after  {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight:900;
  float:right;
  margin-right:10px;
  margin-top:3px;
}

.mobile-side-bar .content .menu-box-1 ul > li:hover > a:not(:only-child)::after {
  transform:rotate(90deg);
}

.mobile-side-bar .content .menu-box-1 > ul ul {
  display:none;
  background:#e8e8e8;
}

.mobile-side-bar .content .menu-box-1 ul > li.active > ul {
  display:block;
}

/* 푸터 */
.footer {
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:40px;
  margin-top:50px;
}

.footer > .menu-box-1 > ul > li > a {
    font-size:10px;
    padding:0 9px;
    color:#7d7d7d;
}


.footer > .menu-box-1 > ul > li.cell-facebook > a {
    color:#3c5998;
}

.footer > .menu-box-1 > ul > li.cell-blog > a {
    color:#23b100;
}

.footer > .menu-box-2 > ul > li > * {
    font-size:10px;
    padding:0 9px;
    color:#7d7d7d;
}

.footer > .menu-box-2 > ul > li > * > .color-black {
    color:black;
}

@media( max-width:780px ) {
    .footer > .menu-box {
        width:100%;
  }
    
    .footer > .menu-box-2 > ul > li {
        width:100%;
        margin-top:5px;
  }
}